.card {
  background-color: #f0f0f0;
  position: absolute; /* Changed to absolute for positioning */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card h3,
.card p {
  margin: 0;
  text-align: center;
}

.resize-handle {
  position: absolute;
  background-color: #333;
  cursor: pointer;
}

.resize-handle.top-left {
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  cursor: nwse-resize;
}

.resize-handle.top-right {
  width: 16px;
  height: 16px;
  top: 0;
  right: 0;
  cursor: nesw-resize;
}

.resize-handle.bottom-left {
  width: 16px;
  height: 16px;
  bottom: 0;
  left: 0;
  cursor: nesw-resize;
}

.resize-handle.bottom-right {
  width: 16px;
  height: 16px;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
}

.resize-handle.top {
  width: 100%;
  height: 16px;
  top: 0;
  left: 0;
  cursor: ns-resize;
}

.resize-handle.right {
  width: 16px;
  height: 100%;
  top: 0;
  right: 0;
  cursor: ew-resize;
}

.resize-handle.bottom {
  width: 100%;
  height: 16px;
  bottom: 0;
  left: 0;
  cursor: ns-resize;
}

.resize-handle.left {
  width: 16px;
  height: 100%;
  top: 0;
  left: 0;
  cursor: ew-resize;
}
